/**
 * Styles for Kresge Expanding Opportunites Page
 * @rdarling42
 *
 **/

$block_heading_font_size: 7.2rem;
$block_text_font_size: 3.6rem;
$block_padding: 10rem 0;
$block_padding_small: 5.5rem 0;

@mixin small_heading_style($color){
    text-align: center; 
    text-transform: uppercase;
    font-size:2.4rem;
    color: $color;
}

@mixin banner_styles($background, $color){
    background: $background;
    color: $color;
    text-align: center;
    padding: $block_padding;
}

@mixin link_style($color, $hover){
    a {
        color: $color; 

        &:link, &:visited {
            color: $color; 
        }

        &:hover {
            color: $color; 
        }
    }
}

html {
    font-size:62.5%; //make 1rem = 10px
}

.row {
    max-width:102.4rem;
}

#eyebrow {
    background: $dark-grey;
    color: $vapor;
    text-align: right;
}

#header {
    background: url('../images/hero-image.jpg') no-repeat;
    background-size: cover;
    min-height: 85.4rem;

    .header-wrap {
        background: rgba($black,0.5);
        color: $white;
        padding: 3rem 0;

        .row {
            display: flex; 
            align-items: flex-end;
        }
    }

    h1, h2 {
        color: $white; 
        font-size: 1.8rem;
    }

    nav {

        @include link_style($white, $white);

        ul {
            display: flex; 
            justify-content: space-between;
            margin: 0;
        }

        li {
            display:inline-block; 
            list-style:none;
            font-size: 1.8rem;
        } 
    }
}

#banner {
    @include banner_styles($blue,$white);

    h2 {
        color: $white; 
        font-size: $block_heading_font_size;
    }

    p {
        font-size: $block_text_font_size; 
        line-height:$block_text_font_size;
    }
}

#cities {
    background: $silver;
    color: $dark-grey;
    text-align: center;
    padding: $block_padding;

    h3 {
        font-size: $block_heading_font_size;
    }

    p {
        font-size: $block_text_font_size; 
        line-height:$block_text_font_size;
    }
}

#block_area {
   padding: $block_padding_small;   

   h3 {
       @include small_heading_style($dark-grey);
   } 
}

#block_area_1 {
   background: $light-blue; 
   color: $white;
   padding: $block_padding_small;   

   h3 {
       @include small_heading_style($white);
   } 
}

#main {

}

#banner_2 {
    @include banner_styles($light-purple,$white);

    h2 {
        font-size: $block_heading_font_size;
        color: $white;
    }

    p {
        font-size: $block_text_font_size; 
        line-height:$block_text_font_size;
    }
}

#our_work_image {
    background: url('../images/veggies.jpg') no-repeat;
    background-size: cover;
    min-height: 93.1rem;
}

#our_work {
    @include banner_styles($green,$white);

    h2 {
        font-size: $block_heading_font_size;
        color: $white;
    }

    p {
        font-size: $block_text_font_size; 
        line-height:$block_text_font_size;
    }
}

#footer {
    background: $dark-grey;
    padding: $block_padding_small;   
    color: $white;
    @include link_style($white, $white);

    li {
        list-style: none; 
    }

    h5 {
        color: $white; 
    }
}
