/**
 * Styles for Kresge Expanding Opportunites Page
 * @rdarling42
 * Styles for different blocks found in their own scss files
 *
 **/

@font-face {
    font-family: 'metaplusregular';
    src: url('../fonts/ufonts.com_metaplus-webfont.eot');
    src: url('../fonts/ufonts.com_metaplus-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ufonts.com_metaplus-webfont.woff2') format('woff2'),
    url('../fonts/ufonts.com_metaplus-webfont.woff') format('woff'),
    url('../fonts/ufonts.com_metaplus-webfont.ttf') format('truetype'),
    url('../fonts/ufonts.com_metaplus-webfont.svg#metaplusregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    font-size:62.5%; //make 1rem = 10px
}

body, h1, h2, h3, h4, h5, h6, li, p {
    font-family: 'metaplusregular';
}

.row {
    max-width:102.4rem;
}

#eyebrow {
    background: $dark-grey;
    color: $vapor;
    text-align: right;
}

#main {
    h4 {
        font-size: 4rem; 
        font-weight: bold;
    }

    ul {
        margin-left: 0; 
    }

    li {
        font-size: 1.6rem; 
        list-style:none;
        font-style: italic;
    }

    p {
        font-size: 2.2rem; 
        line-height: 2.2rem;
        font-family: 'minion-pro';
    }

    a {
        font-family: 'metaplusregular';
    }

    .large-12.columns {
        padding: 6rem; 
    }

    .first-main-row {
        background: url('../images/bowling.jpg') no-repeat; 
        background-size: contain;
        background-position: right;
    }

    .second-main-row {
        background: url('../images/smile.jpg') no-repeat; 
        background-size: contain;
    }
}



