/**
 * Styles for Kresge Expanding Opportunites Page
 * @rdarling42
 * Styles for different blocks found in their own scss files
 *
 **/



html {
    font-size:62.5%; //make 1rem = 10px
}

.row {
    max-width:102.4rem;
}

#eyebrow {
    background: $dark-grey;
    color: $vapor;
    text-align: right;
}

#main {

}



