
#footer {
    background: $dark-grey;
    padding: $block_padding_small;   
    color: $white;
    text-align: center;

    @include link_style($white, $white);

    ul {
        margin-left: 0; 
    }

    li {
        list-style: none; 
        font-size: 1.4rem;
        display: inline-block;
    }

    h4 {
        font-size: 2.4rem; 
        color: $white; 
    }

    h5 {
        color: $white; 
        font-weight: bold;
        font-size: 1.4rem;
    }

    button {
        width: 100%; 
    }

    .social-media-wrap {
        color: $med-grey; 
        font-size:2rem;

        li {
            color: $med-grey; 
            font-size:3rem;
            @include link_style($med-grey, $white);
            margin: 1rem;
        }
    }

    .way-down-links {
        text-transform: uppercase; 
         
        a {
            display:inline-block;
            margin: 0.5rem;
            padding: 0.5rem;
        }
    }
}
